.jumbotron {
  background-image: url("/banner-image.jpg");
  background-repeat: no-repeat;
  color: #fff;
  max-width: 100%;
  background-size: cover;
  text-align: center;
}


.brand-icon {
    font-size: 100px;
}

.card:hover img,
.card:focus img {
  transform: scale(1.1);
  background-color: #fff;
  color: #fff;
}
.card:hover {
  background-color: #cc6c69;
}
.card>img{
  max-width: 100%;
  transition: all 1s ease;
}
.card:hover .list-group-item  {
  background-color: rgb(228, 119, 119);
  color: #fff;
}
.card:hover .card-body>h5  {
  background-color: rgb(228, 119, 119);
  color: #fff;
}
.card{
  overflow: hidden;
}